.deps
Makefile
Makefile.in
Xgc
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
gram.c
gram.h
lex.c
missing
stamp-h1
xgc
xgc.1
*~
